
<form>
  <div class="form-group">
    <input required minlength="10"  type="text"
           name="householdNumber" placeholder="Household Number" class="form-control" value="4092546576">

  </div>
  <div class="form-group">
    <input required minlength="6"  type="text"  name="processingAgent"
           placeholder="Agent Of Record " class="form-control" value="913141">
  </div>
  <div class="form-group">
    <input required minlength="2"  type="text"  name="stateCode"
           placeholder="State Code" class="form-control" value="MD">

  </div>
  <div class="form-group">
    <input required  type="text" name="effectiveDate"
           placeholder="Effective Date MM/DD/YYYY" class="form-control" value="04/08/2018">
  </div>
  <div class="form-group">
    <input required  type="text"  name="firstName"
           placeholder="First Name" class="form-control" value="MIKE">
  </div>
  <div class="form-group">
    <input required   type="text"  name="lastName"
           placeholder="Last Name" class="form-control" value="MIKE">
  </div>
  <div class="form-group">
    <input required  type="text"  name="dateOfBirth"
           placeholder="Date Of Birth MM/DD/YYYY" class="form-control" value="11/14/1980">
  </div>
  <div class="form-group">
    <input required  type="text" [ name="vin"
           placeholder="Enter New VIN" class="form-control" value="JT4RN13S4K6089678">
  </div>





  <button class="btn btn-primary"  > Check Eligibility</button>

</form>

